nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 100;
    width: 100%;
}

.navbar-right {
    margin-left: auto;
}

.active{
    background-color: rgb(228, 225, 225);
}