<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="addbtn(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="amount">Name:</label>
          <input 
            type="text" 
            class="form-control" 
            id="name" 
            name="name" 
            ngModel
            required
            autocomplete="off">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount:</label>
          <input 
            type="number" 
            class="form-control" 
            id="amount" 
            name="amount" 
            ngModel 
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <button 
            type="submit" 
            class="btn btn-success mr-3" 
            [disabled]="f.invalid">{{ editingMode ? 'Update' : "Add"}}</button>
            <button 
              type="button" 
              class="btn btn-danger mr-3"
              (click)="delete()"
              *ngIf="editingMode">Delete</button>
            <button 
              type="button" 
              class="btn btn-primary mr-3"
              (click)="clear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
