.rec-img {
    max-width: 100px;
}

.clearfix{
    color: black;
    background-color: rgba(241, 241, 241, 0.8);
}

.clearfix:hover{
    background: rgba(224, 223, 223,0.9);
}

.float-right {
    max-height: 50px;
}