<div class="overlay">
    <h2>Welcom to my recipe book</h2>
    <p>
        1.use top links for navigate between pages
    </p>
    <p>
        2.recipe: list of recipe that you can see each single recipe 
    </p>
    <p>
        3.shoping list: list of ingridients that you add for buy
    </p>
    <p>
        4.signup and signin: if you want to use additional part of app you should signin
        if you signin before you must signup(before you try for that option turn your VPN on )
    </p>
    <p>
        5.after you enter to your acount you see two extra button first a dropdown and
        then logout
    </p>
    <p>
        6.dropdown button is for save your changes or give last updated data
        and logout is for exit
    </p>
    
</div>
