.rec-img {
    max-width: 500px;
}

.nav-link {
    color: rgb(129, 129, 129) !important;
}

.nav-link:hover {
    color: rgb(85, 85, 85) !important;
}

.row {
    background: rgba(170, 168, 168, 0.884);
}

.center {
    display: flex;
    justify-content: center;
}